/* Variables */

:root {
    --color-win: #34b134;
    --color-lose: #D94545;
    --color-start: #2976d3;
    --color-bright: #9b1c13;
    --color-bright-light: #f30909;
    --color-keys: #37474F;
    --color-keys-light: #E5E5E5;
    --font-size-large: 60px;
    --font-size-medium: 40px;
    --font-size-small: 20px;
    --transition: all .4s ease;
   
}


/* main */

* {
    box-sizing: border-box;
}

body {
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
    height: 100vh;
    background-color: #d2d2d2;
    font-family: 'Bungee Inline', cursive;
}

li,
ol,
ul {
    padding: 0;
    display: inline-block;
    transition: var(--transition);
}

h1,
h2 {
    margin: 0 auto;
    width: 90%;
    text-transform: uppercase;
    font-size: var(--font-size-medium);
    box-shadow: 5px 5px 10px 2px black;
    border-radius: 5px;
}

h1{
    font-size: var(--font-size-large);
}


button,
a {
    margin: 0.5rem;
    box-shadow: 5px 5px 5px 2px black;
    padding: .2rem 1rem;
    color: var(--color-keys);
    font-size: var(--font-size-small);
    background-color: var(--color-keys-light);
    border-radius: 5px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

button:hover,
a:hover {
   cursor: pointer;
}

button:active,
a:active {
    transform: scale(0.5);
}


/* Grid */

#banner{
    grid-area: banner;    
    
    }
    
 #qwerty{
        grid-area: qwerty;
        display: flex;
        flex-flow: column nowrap;
}
    
 #phrase {
        grid-area: phrase;
        display: flex;
        flex-flow: row wrap;
        justify-content:center;
        margin: 0.2rem auto;
 }
    
#scoreboard{
        grid-area: scoreboard;
}
    
.main-container {    
    display: grid;
    grid-template-columns: minmax(250px,1fr);
    row-gap: 2rem;
    justify-items: center;

    grid-template-areas:
    "overlay"
    "banner"
    "phrase"
    "qwerty"
    "scoreboard";
    height: 100%;
    max-height: 900px;
    text-align: center;
}

.section {
    padding: 10px;
    width: 90%;
}


/* Title */

.header {
    color: black;
}



/* Phrase */
.letter, .blankLetter {
    padding: 2px 1px 0 1px;
    margin-right: 2px;
    color: transparent;
    background: var(--color-bright-light);
    border-radius: 5px;
    max-height: 1.5rem;
}


.blankLetter {    
    padding: 20px 1px 0 1px;
    min-width: 0.2rem;
    background: black;
    
}

li.show {
    color: whitesmoke;   
    transform: scale(1.2);
}


/* Keyboard */

.keyrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.chosen {
    background: var(--color-bright);
    border-radius: 5px;
    font-size: var(--font-size-small);
    color: #FFFFFF;
}

.btn__reset {
    padding: 8px;
    margin: 50px auto;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: var(--font-size-small);
   
}


/* Overlay */

#overlay {
    grid-area: overlay;
    display: flex;
    flex-direction: column;
    position: fixed;
    color: #FFFFFF;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
}

.title {
    color: #FFF;
    border-radius: 5px;
}

.start {
    background-color: var(--color-start);
}

.start a {
    color: black;
    font-weight: bold;
}

.win, .lose {
    background-color: var(--color-win);
    padding: 25px;
    border-radius: 10px;
    margin: 5rem auto;
}

.lose {
    background-color: var(--color-lose);
   
}